Repository jordanfelle/felle_me: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cdn-usage, sri-integrity-check, hugo-build

validate-cdn-usage:
  name: Validate CDN usage
  entry: ./scripts/validate-cdn-usage.sh
  language: script
  pass_filenames: false

sri-integrity-check:
  name: Validate and add SRI hashes for CDN assets
  entry: ./scripts/validate-and-update-sri.sh
  language: script
  pass_filenames: true

hugo-build:
  name: Hugo build check
  entry: bash -c './build.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: address copilot review - fix npm dev script path, cache cleanup portability, sed pattern consistency
  content/package.json
  scripts/validate-and-update-sri.sh
Due: hugo-build

fix: address copilot review - clarify pre-push hook requires system Hugo
  PRE_COMMIT_SETUP.md
Due: none

Add automated Hugo archive checksum update on version changes
  .pre-commit-config.yaml
  scripts/update-hugo-checksum.sh
Due: none

Improve Hugo checksum validation to detect invalid checksums
  scripts/update-hugo-checksum.sh
Due: none

chore: upgrade Hugo to 0.158 and migrate language API
  .hugo-archive-checksum
  .hugo-version
  content/layouts/partials/head.html
Due: validate-cdn-usage, sri-integrity-check, hugo-build

Path conditions:
  validate-cdn-usage: any of: ^content/.*\.(html|htm)$
  sri-integrity-check: any of: ^content/.*\.html$
  hugo-build: any of: ^(content/(archetypes|assets|shortcodes|config|layouts|hugo\.yaml|package\.json)|build\.sh|\.hugo-version|\.hugo-archive-checksum)$
